/* line 1, ../scss/Mainlog.scss */
.home-container {
  background-color: #343f55;
  height: 100vh;
  padding-top: 50vh;
}

/* line 6, ../scss/Mainlog.scss */
.fbLoginButtonOuter {
  text-align: center;
}

/* line 10, ../scss/Mainlog.scss */
.fbLoginButtonOuter .btn {
  width: 100%;
  height: 65px;
  font-size: 25px;
  color: #f7f8f9 !important;
  background-color: #343f55 !important;
  border-color: #737d90 !important;
}

/* line 21, ../scss/Mainlog.scss */
.fbLoginButtonOuter .btn:hover {
  background-color: #3b517d !important;
  border-color: #737d90;
}

/* line 26, ../scss/Mainlog.scss */
.DataContainer {
  background-color: #343f55;
  padding-top: 64px;
}

/* line 31, ../scss/Mainlog.scss */
.ContainerDetail {
  background-color: #343f55;
  padding-top: 64px;
}

/* line 36, ../scss/Mainlog.scss */
.Cover {
  width: 100%;
}

/* line 39, ../scss/Mainlog.scss */
.NameOuter {
  Color: whitesmoke;
  font-size: 44px;
  background-color: #344655;
  /* max-height: 123px; */
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 60px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 55, ../scss/Mainlog.scss */
.NameOuter:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 62, ../scss/Mainlog.scss */
.ProfilePic {
  width: 100%;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 3px;
  border-radius: 150px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 74, ../scss/Mainlog.scss */
.ProfilePic:hover {
  -webkit-transform: rotate(15deg) scale(1.1);
  -moz-transform: rotate(15deg) scale(1.1);
  -ms-transform: rotate(15deg) scale(1.1);
  -o-transform: rotate(15deg) scale(1.1);
  transform: rotate(15deg) scale(1.1);
}

/* line 81, ../scss/Mainlog.scss */
.Name {
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 30px; */
  text-align: center;
}

/* line 94, ../scss/Mainlog.scss */
.row1-Outer {
  padding-top: 15px;
}

/* line 97, ../scss/Mainlog.scss */
.coverOuter:hover {
  box-shadow: 1px 1px #7992c3, 2px 2px #7992c3, 3px 3px #7992c3;
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
}

/* line 105, ../scss/Mainlog.scss */
.VerificationOuter {
  Color: whitesmoke;
  font-size: 40px;
  background-color: #344655;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 60px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 119, ../scss/Mainlog.scss */
.VerificationOuter:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 126, ../scss/Mainlog.scss */
.SecureBrowsing-outer {
  Color: whitesmoke;
  font-size: 40px;
  background-color: #344655;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 140, ../scss/Mainlog.scss */
.SecureBrowsing-outer:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 147, ../scss/Mainlog.scss */
.Verification {
  text-align: center;
}

/* line 151, ../scss/Mainlog.scss */
.verify-img {
  width: 60px;
  /* padding-left: 23px; */
  /* margin-left: 50px; */
  padding-bottom: 6px;
  padding-left: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* line 160, ../scss/Mainlog.scss */
.Verified {
  color: #49d8a8;
  font-size: 37px;
}

/* line 164, ../scss/Mainlog.scss */
.Verified-n {
  color: rgba(255, 0, 0, 0.71);
  font-size: 35px;
}

/* line 168, ../scss/Mainlog.scss */
.verificationStatus {
  text-align: center;
}

/* line 171, ../scss/Mainlog.scss */
.gender-outer {
  Color: whitesmoke;
  font-size: 40px;
  background-color: #344655;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 186, ../scss/Mainlog.scss */
.gender-outer:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 193, ../scss/Mainlog.scss */
.currencyOuter {
  Color: whitesmoke;
  font-size: 40px;
  background-color: #344655;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 208, ../scss/Mainlog.scss */
.currencyOuter:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 215, ../scss/Mainlog.scss */
.deviceOuter {
  Color: whitesmoke;
  font-size: 40px;
  background-color: #344655;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 230, ../scss/Mainlog.scss */
.deviceOuter:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 237, ../scss/Mainlog.scss */
.timeZoneOuter {
  Color: whitesmoke;
  font-size: 40px;
  background-color: #344655;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 252, ../scss/Mainlog.scss */
.timeZoneOuter:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 259, ../scss/Mainlog.scss */
.currency-icon {
  width: 50px;
}

/* line 262, ../scss/Mainlog.scss */
.device-icon {
  width: 50px;
}

/* line 265, ../scss/Mainlog.scss */
.timeZone-icon {
  width: 50px;
}

/* line 268, ../scss/Mainlog.scss */
.gender-label {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 62px;
}

/* line 273, ../scss/Mainlog.scss */
.currency-label {
  font-size: 20px;
}

/* line 276, ../scss/Mainlog.scss */
.device-label {
  font-size: 20px;
}

/* line 279, ../scss/Mainlog.scss */
.timeZone-label {
  font-size: 20px;
}

/* line 282, ../scss/Mainlog.scss */
.data-size {
  font-size: 45px;
}

/* line 285, ../scss/Mainlog.scss */
.customButton {
  transition: background-color 0.5s ease;
  width: 100%;
  border-color: #fbfbfb;
  border-style: solid;
  border-width: 1px;
  background-color: #344655;
  border-radius: 0px;
  /* margin-left: 30px; */
  margin-top: 5px;
  font-size: 20px;
  padding-top: 20px;
  color: #f5f5eb;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  /* margin-right: 30px; */
}

/* line 303, ../scss/Mainlog.scss */
.customButton:hover {
  background-color: #527796;
  color: #f5f5eb;
  text-decoration: none;
}
