.header{
  padding: 10px 0;
  background: #17baef;
  color: #fff;
  position: fixed;
  width: 100%;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.pull-left {
  float: left!important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #17baef;
}
.header .logo a {
  color: #fff;
}
.logo-title:hover{
 text-decoration: none;

}
a {
  color: #17baef;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.header .main-nav button {
  background: #074f66;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
  display: none;
}
.header .main-nav .nav .nav-item.active {
  color: #17baef;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}
.scrollto{
  color: #1099c5;
  font-weight: 600;
  border: #1390c5 1px;
  border-style: solid;
  border-width: 2px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.scrollto:hover{
  background-color:#1099c5 !important;
}



@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }
  .navbar-nav>li {
    float: left;
  }

}

@media (max-width: 767px){
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }



}